apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: tp-projet-2025
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: root
  MYSQL_DATABASE: tpfoyerdb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: tp-projet-2025
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:                  # ← indentation correcte
    metadata:
      labels:
        app: mysql
    spec:                    # ← champ obligatoire pour le pod template
      containers:
      - name: mysql
        image: mysql:8.0
        args:
        - "--default-authentication-plugin=mysql_native_password"
        envFrom:
        - secretRef:
            name: mysql-secret
        ports:
        - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: tp-projet-2025
spec:
  selector:
    app: mysql
  ports:
  - port: 3306
    targetPort: 3306
