apiVersion: v1
kind: Service
metadata:
  name: tp-projet-service
  namespace: tp-projet-2025
  labels:
    app: tp-projet
    service: backend
spec:
  selector:
    app: tp-projet
    tier: backend
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 8081
    targetPort: 8081
    protocol: TCP
  type: LoadBalancer
  # Pour un environnement local/development, utilisez NodePort:
  # type: NodePort
  # Pour AKS/EKS/GKE, utilisez LoadBalancer
  sessionAffinity: None
  externalTrafficPolicy: Cluster
