apiVersion: v1
kind: Service
metadata:
  name: tp-projet-service
  namespace: tp-projet-2025
  labels:
    app: tp-projet
spec:
  type: LoadBalancer
  selector:
    app: tp-projet
    tier: backend
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
  - name: actuator  # Optionnel : port dédié pour Actuator
    protocol: TCP
    port: 8081
    targetPort: 8080
