apiVersion: v1
kind: Service
metadata:
  name: tp-projet-service
  namespace: tp-projet-2025
  labels:
    app: tp-projet
spec:
  type: LoadBalancer  # Change en NodePort si ton cluster (ex: minikube) ne donne pas d'IP externe
  selector:
    app: tp-projet
    tier: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
